@import "@/styles/variables";

.TechAndExp {
  @media (prefers-color-scheme: light) {
    background-image: linear-gradient(
      180deg,
      $system-white,
      $system-sky 80%,
      $system-white
    );
  }
  @media (prefers-color-scheme: dark) {
    min-height: 100vh;
    background-image: radial-gradient(
        white,
        rgba(255, 255, 255, 0.1) 2px,
        transparent 10px
      ),
      radial-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1) 2px,
        transparent 10px
      );
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 20px 40px;
  }
}
