@import "@/styles/variables";

.TechAndExpDark {
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.1) 2px,
      transparent 10px
    ),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 10px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 20px 40px;
}
