@import "@/styles/variables";

.PreFooter {
  background-image: url(https://images.pexels.com/photos/699459/pexels-photo-699459.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $system-navy;
  .VerticalMask {
  }
}
