@import "@/styles/variables";
$gray-400: #9ca3af;
$gray-600: #4b5563;

.DoneBarSwitch {
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      180deg,
      $system-green 50%,
      rgba($system-white, 70%) 50%
    );
  }
  @media (prefers-color-scheme: light) {
    background: linear-gradient(
      180deg,
      $system-blue 50%,
      rgba($system-navy, 70%) 50%
    );
  }
}
