.Name {
  background: linear-gradient(90deg, #4f76f6 0%, #77f2a1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
