@import "./variables";
@tailwind base;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

@tailwind components;
@tailwind utilities;

html {
  @media (prefers-color-scheme: dark) {
    /* Dark theme styles go here */
    ::-moz-selection {
      /* Code for Firefox */
      color: $system-navy;
      background: $system-white;
    }

    ::selection {
      color: $system-navy;
      background: $system-white;
    }
  }

  @media (prefers-color-scheme: light) {
    /* Light theme styles go here */
    ::-moz-selection {
      /* Code for Firefox */
      color: $system-white;
      background: $system-navy;
    }

    ::selection {
      color: $system-white;
      background: $system-navy;
    }
  }
}

body {
  @apply bg-system-white dark:bg-system-navy text-system-navy dark:text-system-white;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.text-gradient {
  user-select: none;
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(90deg, #4f76f6 0%, #77f2a1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  @media (prefers-color-scheme: light) {
    background: linear-gradient(90deg, #3a58ba 0%, #4d9d68 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.text-gradient-reverse {
  user-select: none;
  @media (prefers-color-scheme: light) {
    background: linear-gradient(90deg, #4f76f6 0%, #77f2a1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(90deg, #3a58ba 0%, #4d9d68 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
